//Cards Color
$bitcoin-cardColor: rgba(255, 174, 52, 1);
$ninja-cardColor: rgba(34, 34, 34, 1);
$block-cardColor: rgba(139, 88, 249, 1);
$evil-cardColor: rgba(243, 51, 85, 1);
$defualt-card: rgba(208, 208, 208, 1);

//Button Color
$button-color: rgba(0, 0, 0, 1);

//Heading Font
$heading-font: "Source Sans 3", sans-serif;

//Text Font
$text-font: "PT Mono", monospace;
