@use "./variables" as *;

button {
  color: $button-color;
  background-color: white;
  font-size: 18px;
  border-radius: 8px;
  font-weight: 700;
  font-family: $text-font;
  min-width: 400px;
  width: 100%;
  margin-top: 1rem;
  min-height: 70px;
}

.addCardBtn,
button {
  color: white;
  background-color: $button-color;
}
