@use "./variables" as *;

// Card css
.card {
  display: flex;
  position: relative;
  margin-bottom: 3rem;
  min-width: 400px;
  height: 241px;
  background-color: $defualt-card;
  padding: 20px 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 16px 0px #0000001f;

  // &.bitcoin {
  //   background-color: $bitcoin-cardColor;
  // }
  // &.chain {
  //   background-color: $block-cardColor;
  // }
  // &.evil {
  //   background-color: $evil-cardColor;
  // }
  // &.ninja {
  //   background-color: $ninja-cardColor;
  // }
  // &.default {
  //   background-color: $defualt-card;
  // }
}
// Styles for different logos
.wifiLogo {
  position: absolute;
  top: 20px;
  left: 24px;
  filter: invert(1);
  width: 44px;
  height: 44px;
  opacity: 80%;
  &.bitcoin {
    filter: invert(0);
  }
  &.default {
    filter: invert(0);
  }
}

.chipLogo {
  position: absolute;
  top: 65px;
  left: 20px;
  width: 50px;
  height: 40px;
  &.default {
    filter: invert(1) opacity(13%) brightness(3.5);
  }
}

.cardLogo {
  position: absolute;
  top: 25px;
  right: 25px;
  color: rgba(255, 255, 255, 0.8);
  opacity: 80%;
  width: 27.5px;
  height: 38.5px;

  &.bitcoin {
    background: url("../assets/bitcoin.png");
  }

  &.chain {
    background: url("../assets/chain.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  &.evil {
    background: url("../assets/evil.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  &.ninja {
    background: url("../assets/ninja.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  &.default {
    background: url("../assets/bitcoin.png");
  }
}

.cardNo {
  position: relative;
  top: 110px;
  width: 100%;
  height: 42px;
}

// Styling for different information on the card
.cardNumber {
  margin: 0 auto;
  color: rgba(255, 255, 255, 0.8);
  width: 385px;
  height: 42px;
  font-weight: 400;
  font-size: 29px;
  position: absolute;
  display: flex;
  letter-spacing: 1.5px;

  &.bitcoin {
    color: rgb(0, 0, 0);
  }
  &.default {
    color: rgb(0, 0, 0);
  }
}

.titleRow {
  display: flex;
  justify-content: space-between;
  width: 90%;
  position: absolute;
  bottom: 40px;
}

.titleText {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.8);
  &.bitcoin {
    color: rgba(0, 0, 0, 1);
  }
  &.default {
    color: rgb(0, 0, 0);
  }
}

.infoRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 10px;
  height: 30px;
  width: 90%;
}

.holderName,
.validThru {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
  &.bitcoin {
    color: black;
  }
  &.default {
    color: rgb(0, 0, 0);
  }
}
