@use "./variables" as *;

.linkBtn {
  display: inline-blockgit ;
  margin-top: 10px;
  background-color: #eeeeee;
  border-style: solid;
  border-width: 3px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -5px;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-size: small;
  outline: none;
  padding: 2px;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 95px;
  border-bottom-right-radius: 455px 15px;
  border-top-left-radius: 455px 15px;
  border-top-right-radius: 15px 95px;
  text-transform:none;
}


.linkBtn:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}