@use "./variables" as *;
* {
  font-family: $text-font;
  font-weight: 400;
}

// Styling for the form
.form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}
// Styling for the inputs
input {
  // min-width: 380px;
  min-height: 50px;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 0, 0.8);
}
.small-input-container {
  display: flex;
  width: 400px;
}
.small-input {
  min-width: 176px;
  width: 50%;
}
::placeholder {
  color: rgba(0, 0, 0, 1);
  font-size: 1.1rem;
  padding-left: 0.5rem;
}
label {
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 0.8);
}
