@use "./variables" as *;

h1 {
  font-family: $heading-font;
  text-align: center;
  max-width: 50%;
  margin: 2rem auto;
  line-height: 2.1rem;
}

p {
  font-family: $text-font;
  text-align: center;
  font-size: 12px;
  color: rgba(34, 34, 34, 0.6);
}
