//Importing style varibales
@use "./abstracts/variables" as *;

//Fonts
@import url("https://fonts.googleapis.com/css2?family=PT+Mono&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

//font for overall texts font-family: "PT Mono", monospace;
//font for headings font-family: "Source Sans 3", sans-serif;

//Font sizes
//Heading - 35
//CardNumber - 29px
//Text - 18px
//Cardholer, validthru, activecard, new card - 12px
//Button -22px

//Card Icon 38px x 34px

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: uppercase;
}
